/*old css */

:host {
    display: block;
    position: fixed;
    /* Change to fixed position */
    bottom: 25px;
    /* Adjust the distance from the bottom */
    right: 25px;
    /* Adjust the distance from the right */
    z-index: 9999;
    /* Ensure the chat bot appears above other content */
    font-family: var(--font-family, Roboto, Helvetica, Arial, sans-serif);
    font-size: var(--font-size-root, 100%);
    font-weight: var(--font-weight-bold, 400);
    line-height: var(--line-height, 1.75rem);
}

.clearfix {
	margin-top: 2px;
	margin-bottom: 2px;
}

.icon {
    fill: white;
}

button {
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #0070f3;
    border-radius: 50%;
    /* Makes the button circular */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0051bb;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #aaa;
}
